:root,
[data-size] {
	--ds-md-rem: calc(16 / 18);
	--ds-heading-2xs-font-size: calc(
		clamp(1em, 0.9296875em + 0.3125vw, 1.125em) *
		var(--ds-md-rem)
	); /* 16px => 18px */
	--ds-heading-xs-font-size: calc(
		clamp(1.125em, 1.01953125em + 0.46875vw, 1.3125em) *
		var(--ds-md-rem)
	); /* 18px => 21px */
	--ds-heading-sm-font-size: calc(
		clamp(1.3125em, 1.20703125em + 0.46875vw, 1.5em) *
		var(--ds-md-rem)
	); /* 21px => 24px */
	--ds-heading-md-font-size: calc(
		clamp(1.5em, 1.2890625em + 0.9375vw, 1.875em) *
		var(--ds-md-rem)
	); /* 24px => 30px */
	--ds-heading-lg-font-size: calc(
		clamp(1.875em, 1.6640625em + 0.9375vw, 2.25em) *
		var(--ds-md-rem)
	); /* 30px => 36px */
	--ds-heading-xl-font-size: calc(
		clamp(2.25em, 1.96875em + 1.25vw, 2.75em) *
		var(--ds-md-rem)
	); /* 36px => 44px */
	--ds-heading-2xl-font-size: calc(
		clamp(4em, 2.1875em + 3vw, 6em) *
		var(--ds-md-rem)
	); /* 44px => 60px */
}

* {
	box-sizing: border-box;
}

body {
	--accent-color-tinted-40: rgba(221, 233, 255, 0.4);

	font-feature-settings: "ss04" off;
	font-family: "IBM Plex Sans", sans-serif;
	background: var(--ds-color-background-default);
	color: var(--ds-color-neutral-text-default);
	margin: 0;
	padding: 0;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

[data-size="xxl"] {
	font-size: var(--ds-heading-2xl-font-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--ds-font-family), monospace;
}

a {
	--dsc-link-color--visited: var(--ds-color-text-default);
	--dsc-link-color: var(--ds-color-text-default);
	margin: 0;
}

img {
	max-height: 10.25em;
	width: auto;
	box-shadow: -4px 4px 0 2px var(--ds-color-neutral-base-contrast-default);
}

svg {
	height: 11em;
	width: auto;
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--ds-size-26);
	padding-top: var(--ds-size-26);
}

section {
	display: flex;
	align-items: center;
	justify-content: center;
}

header {
	margin: 0 auto;
	display: flex;
	width: 100%;
	gap: var(--ds-size-4);
	flex-wrap: wrap;
	justify-content: space-between;
	padding-block: var(--ds-size-6);
	padding-inline: var(--ds-size-2);
}

footer {
	width: 100%;
	display: flex;
	padding: var(--ds-size-9);

	svg {
		height: 3em;
		width: auto;
	}
}

nav {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.off-banner {
	font-family: var(--ds-font-family), monospace;
	font-weight: 500;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	gap: var(--ds-size-4);
	align-items: center;
	background: inherit;
	color: var(--ds-color-neutral-text-default);
}

.off-logo {
	font-size: var(--ds-font-size-8);
	text-decoration: none;
	font-weight: bold;
	background: inherit;
	color: var(--ds-color-neutral-base-contrast-default);
	text-shadow: -2px 2px var(--ds-color-text-default);
}

.off-title {
	display: inline-block;
	color: var(--ds-color-neutral-text-default);
	background: var(--ds-color-neutral-base-contrast-default);
	padding: var(--ds-size-2) var(--ds-size-2);
	box-shadow: -1px 1px 0 2px var(--ds-color-text-default);
	transform-origin: left;
	transform: skew(-15deg);
	font-size: var(--ds-font-size-2);
	font-weight: normal;
	border-radius: 0.1em;
}

.off-button {
	--dsc-button-color: var(--ds-color-text-default);
	--dsc-button-border-color: var(--ds-color-text-default);
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-inline: var(--ds-size-4);
}
.hero-where {
	max-width: fit-content;
	padding: var(--ds-size-5) var(--ds-size-8);
	background-color: var(--accent-color-tinted-40);
	/* background: var(--ds-color-surface-tinted); */
	border-radius: var(--ds-border-radius-default);
	margin-top: var(--ds-size-12);
}

.hero-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--ds-size-4);
}

.action-card {
	display: flex;
	align-items: center;
	flex: 1;
	min-width: 400px;

	padding: var(--ds-size-4);
	gap: var(--ds-size-6);
	border-radius: var(--ds-border-radius-md);
	border: var(--ds-border-width-default) solid var(--ds-color-border-subtle);
	background: var(--ds-color-surface-tinted);
	box-shadow: -1px 1px 0 2px var(--ds-color-text-default);

	& > * {
		margin: 0;
	}
}

.information {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.off-logo {
		font-size: var(--ds-font-size-7);
	}
	> *:first-child {
		display: flex;
		gap: var(--ds-size-4);
	}
}

@media (prefers-color-scheme: dark) {
	.action-card {
		box-shadow: none;
	}
}

.action-icon {
	position: relative;
	svg {
		height: 7em;
		width: auto;
	}
}

.action-description {
	display: flex;
	flex-direction: column;
	gap: var(--ds-size-4);
}

.action-cards {
	display: flex;
	flex-wrap: wrap;
	gap: var(--ds-size-8);
}

.info-section {
	display: flex;
	justify-content: space-between;
	gap: var(--ds-size-10);
	padding: var(--ds-size-6);
	width: 1000px;

	svg {
		height: 15em;
		width: auto;
	}
}

.info-section-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: var(--ds-size-4);
	max-width: 700px;
}

.fixed-width {
	padding-inline: var(--ds-size-4);
	width: 100%;
}

.bg-tinted {
	background: var(--ds-color-background-tinted);
}

.bleed {
	width: 100%;
}

.bleed > * {
	padding-block: var(--ds-size-10);
	display: flex;
	align-items: center;
	justify-content: center;
}

.about-page {
	gap: var(--ds-size-18);
	padding-top: var(--ds-size-6);
	padding-bottom: var(--ds-size-18);
}
.about-article {
	padding: var(--ds-size-10);
}
.about-article > h2:not(:first-child) {
	margin-top: var(--ds-size-10);
}
.about-article > p {
	margin-top: var(--ds-size-2);
}

@media (min-width: 576px) {
	.fixed-width {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.fixed-width {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.fixed-width {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.fixed-width {
		max-width: 1140px;
	}
}

@media (min-width: 1400px) {
	.fixed-width {
		max-width: 1320px;
	}
}
