:root {
  --color: white;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color);
  background-image: url(img/2025.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  backdrop-filter: brightness(20%);
  
}

h1 {
  margin-top: 0;
  padding-top: 2rem;
}

.hero h1 {
  font-size: 3rem;
}

.hero {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.hero > * {
  padding: 1rem;
}

hr {
  height: 5px;
  border: 0;
  box-shadow: 0 5px 5px -5px rgb(194, 79, 194) inset;
}

a {
  text-decoration: underline;
  color: var(--color)
}

#about {
  width: 70%;
  margin: 0 auto;
}

#about > p {
  margin: 2rem;
}
