:root {
    --color: white;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: var(--color);
    background-image: url(img/2025.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    backdrop-filter: brightness(20%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-size: 3rem;
}

.hero {
    margin: 0 auto;
    width: 50vw;
    vertical-align: middle;
    padding: 2rem;
}

.hero > * {
    padding: 1rem;
}

hr {
    height: 5px;
    border: 0;
    box-shadow: 0 5px 5px -5px purple inset;
}

